<nav class="{% if page.title == "home" %}nav-home{% else %}nav{% endif %}">

    <ul class="list">
    
        {% if page.title != "home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">home</a>
            </li>
        {% endif %}

        {% if page.title != "about" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/about">about</a>
            </li>
        {% endif %}

        {% if page.title != "writings" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/writings/">writings</a>
            </li>
        {% endif %}

        {% if page.title != "creations" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/creations/">creations</a>
            </li>
        {% endif %}



    </ul>
</nav>
